<tr class="even" >
  <td class="name">
    <%= link_to translation.to.name, alchemy.edit_admin_page_path(translation.to)  %>
  </td>
  <td class="tools"><%= Alchemy::Language::find(translation.language_id).code %></td>

</tr>
